SPRING_DATASOURCE_URL=jdbc:postgresql://ep-noisy-river-amffk4qw.c-5.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_IwKdvc1ubRg2
APP_JWT_SECRET=g7YFyeC1Gc4de/mgbulWPARU85jEZdXTBWB8+qipbTS9F2DCleKEVp7X0DbtB2yA